# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
nats-server

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Ignore GoLand specific folders
.idea/

# Other
.DS_Store
main/main
main/__debug_bin*
*.drawio.svg.bkp
*.drawio.svg.dtmp
*.drawio.bkp
*.drawio.dtmp
