name: "Test"
on:
  pull_request:
    types: [opened, reopened, edited]
  push:
    branches:
      - "main"

jobs:
  test:
    runs-on: ubuntu-latest
    name: "Run tests"
    services:
      mariadb:
        image: mariadb:10
        env:
          MARIADB_ROOT_PASSWORD: "secret1234"
        ports:
          - 3306:3306
        options: --health-cmd="mariadb-admin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v4
      - name: Create Nats cluster
        uses: onichandame/nats-action@master
        with:
          port: 4222
      - uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'
          cache: true
          cache-dependency-path: go.sum
      - name: "Show version"
        run: go version
      - name: "Run tests"
        run: go test -cover ./...
